@use '@angular/material' as mat;

// Be sure that you only ever include this mixin once!
@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400&family=Rubik:wght@500&display=swap');

$mat-typography: mat.define-typography-config($font-family: 'Red Hat Display',
        );

// Define your theme with color palettes, typography and density

$mat-theme-primary-palette: map-merge(mat.$light-blue-palette, ());
$mat-theme-primary: mat.define-palette($mat-theme-primary-palette,
                $default: 700,
                $lighter: 600,
                $darker: 700,
                $text: 500);

$mat-theme-accent-palette: map-merge(mat.$green-palette, (contrast: (A100: white, 300: rgba(0, 0, 0, 0.87), )));
$mat-theme-accent: mat.define-palette($mat-theme-accent-palette,
                $default: 600,
                $lighter: A100,
                $darker: 300,
                $text: 600);

$mat-theme-warn-palette: map-merge(mat.$red-palette, ());
$mat-theme-warn: mat.define-palette($mat-theme-warn-palette,
                $default: A200,
                $lighter: 500,
                $darker: 500,
                $text: A700);

$mat-dark-theme-primary-palette: map-merge(mat.$cyan-palette, (contrast: (200: #030844, A100: rgba(0, 0, 0, 0.87), A700: rgba(0, 0, 0, 0.87), )));
$mat-dark-theme-primary: mat.define-palette($mat-dark-theme-primary-palette,
                $default: 200,
                $lighter: A100,
                $darker: A700,
                $text: 700);

$mat-dark-theme-accent-palette: map-merge(mat.$green-palette, (contrast: (A200: black, 50: black, A400: black, )));
$mat-dark-theme-accent: mat.define-palette($mat-dark-theme-accent-palette,
                $default: A200,
                $lighter: 50,
                $darker: A400,
                $text: A100);

$mat-dark-theme-warn-palette: map-merge(mat.$pink-palette, (contrast: (A100: black, 100: white, )));
$mat-dark-theme-warn: mat.define-palette($mat-dark-theme-warn-palette,
                $default: A100,
                $lighter: 100,
                $darker: A700,
                $text: 100);



$mat-density: 0;
// @include mat.elevation(
//   $zValue: 12,
//   $color: #000,
//   $opacity: 0.5
// );

$mat-core-theme: mat.define-light-theme((color: (primary: $mat-theme-primary,
                                accent: $mat-theme-accent,
                                warn: $mat-theme-warn ),
                        typography: $mat-typography,
                        density: $mat-density ));

$mat-dark-theme: mat.define-dark-theme((color: (primary: $mat-dark-theme-primary,
                                accent: $mat-dark-theme-accent,
                                warn: $mat-dark-theme-warn,
                        )));

@include mat.all-component-themes($mat-core-theme);

.dark-theme {
        @include mat.all-component-colors($mat-dark-theme);
}


.mat-drawer-container {
        background-color: rgb(239, 243, 247) !important;
        color: #090C16 !important;
}