.u-bg-green {
    background-color: $green;
}

.u-bg-green-v1 {
    background-color: $green;
}

.u-bg-red {
    background-color: $red;
}

.u-bg-blue {
    background-color: $blue;
}

.u-bg-black {
    background-color: $black;
}
.u-bg-white {
    background-color: $white;
}

.u-bg-yellow {
    background-color: $yellow;
}

.u-bg-grey-v1 {
    background-color: $grey-v1;
}

.u-bg-grey-black {
    background-color: $grey-black;
}