@import './reset';
@import './colors-text';
@import './colors-bg';
@import './paragraphs';
@import './icons';
@import './spacers';
@import './displayers';
@import './btns';
@import './images';

@for $size from 0 through 16 {
    .u-rel-top-neg-#{$size} {
        position: relative;
        top: -#{$size}rem;

        @include responsive(md) {
            position: initial;
        }
    }
}